<div class="container">
    <div class="text-center">
        <h3 class="font-weight-bold">500 Internal server error - Refreshing this page will clear the exception details.</h3>
        <h5 class="text-danger">{{error.message}}</h5>
        <p class="font-weight-bold">Note: Angular isn't the cause of this error</p>
    </div>
    <div class="text-left">
        <h4 class="font-weight-bold">Stack trace: </h4>
        <code class="mt-3 bg-light">
            {{error.details}}
        </code>
    </div>
</div>