button.nav-link {
    background: #c4c4c4;
    border-radius: 0;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none !important;
    }
    &.active:hover {
        color: white;
    }
    & :active {
        outline: none;
    }
    &.active:focus {
        outline: none;
    }
    &:hover {
        color: black;
        background-color: rgba($color: #c4c4c4, $alpha: .8);
    }

    transition: all 0.3s;
}