button.nav-link{
    border: none;
    border-radius: 0px;
    background-color: #C4C4C4;

    &.active {
        background-color: #EB6864 !important;
    }
    &:not(.active) {
        color: #212529;
    }
    transition: all 0.3s;
}