<div class="mt-2 container-fluid pb-0 mb-0 justify-content-center text-light bg-light shadow-sm">
    <footer>
        <div class="row my-4 justify-content-center">
            <div class="col-11">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h2 class="mb-md-0 mb-5 text-info">MedSupply.</h2>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="text-info"><b>Navigation</b></h6>
                        <ul class="list-unstyled">
                            <li>
                                <a class="footer-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                            </li>
                            <li>
                                <a class="footer-link" [routerLink]="['/shop']" routerLinkActive="active" >Shop</a>
                            </li>
                            <li>
                                <a>link</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mt-sm-0 mt-5 text-info"><b>Email</b></h6>
                        <p>orochi255@hotmail.fr</p>
                    </div>
                </div>
                <div class="row text-center pt-2">
                    <div class="col">
                        <small>
                            <span>&#174;</span>
                            Djebbes Zakaria All Rights Reserved.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>