<div class="container mt-3">
  <h2 class="text-center my-3 font-weight-bold">Welcome to your shop!</h2>
  <div class="row justify-content-center">
    <div class="col-8">
      <carousel [isAnimated]="true">
        <slide>
          <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h4>World of warcraft: Shadowlands</h4>
            <a class="btn btn-secondary">More details <i class="fa fa-angle-right"></i></a>
          </div>
        </slide>
        <slide>
          <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/hero3.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-shield"></i> Practical and Safe</h5>
            <p class="card-text">
              Our games and products are original and 100% guaranteed
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-clock-o"></i> Fast Delivery</h5>
            <p class="card-text">
              Receive your products by email in 60 minutes after paying!
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-thumbs-o-up"></i> Satisfaction guaranteed</h5>
            <p class="card-text">Join the thousands of customers who have trusted us!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>