<div class="jumbotron">
    <h1 class="display-4 text-info">MedSupply.</h1>
    <p class="lead">Your medical equipment in one click for your everyday medical job.</p>
    <hr class="my-4">
    <p>Our online store offers different medical equipment for individuals in the medical field, our products are not intended for self-medication, clinics and medical organisations or hospitals.</p>
    <div class="text-right p-0">
        <a class="btn btn-outline-info btn-lg" href="#" role="button">Shop now!</a>
    </div>
</div>

<div class="container">
    <h2 class="text-center mt-3 mb-5 font-weight-bold">Welcome to your shop!</h2>
    <div class="card-deck mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-shopping-cart"></i> Quality equipments</h5>
            <p class="card-text">Our quality assurance team ensures that our products are of good quality that meets your expectations.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-truck"></i> Delivery service</h5>
            <p class="card-text">Our delivery service is one of the most viable ones out there. You will receive your products in time, and we take the engagement to refund 20% of our delivery fee for every day off.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-refresh"></i> After sale service</h5>
            <p class="card-text">We provide an after sale service for all our customers to ensure that the products we deliver meet their expectations.</p>
          </div>
        </div>
      </div>
  </div>