<div class="d-flex justify-content-center login-form">
    <div class="col-lg-4 col-md-6 col-10 mt-5">
        <form [formGroup] = "registerForm" (ngSubmit) = "onSubmit()">
            <div class="text-center">
                <img src="assets/images/logo/logo_transparent.png" id="logo" alt="logo" [routerLink]="['/']">
            </div>
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-bold">Create your account</h1>
            </div>
            <app-text-input formControlName="userName" [label] = "'Username'"></app-text-input>
            <app-text-input formControlName="email" [label] = "'Email Address'"></app-text-input>
            <app-text-input formControlName="password" [label] = "'Password'" [type]="'password'"></app-text-input>
            <app-text-input formControlName="confirmPassword" [label] = "'Confirm Password'" [type]="'password'"></app-text-input>
            <ul *ngIf="errors" class="list-unstyled">
                <li class="text-danger" *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>
            <div class="form-group">
                <a class="text-primary" routerLink="/account/login">Already have an accunt?</a>
            </div>
            <button [disabled]="!registerForm.valid || loading" class="btn btn-lg btn-primary btn-block mb-3" type="submit">Register <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
        </form>
    </div>
</div>