.i-product-count {
    color: rgb(196, 196, 196);
    transition: 0.3s all;
    font-size: 1.5rem;
    
    &:hover {
      color: #EB6864;
      cursor: pointer;
    }
}
  
#product-count{
    font-size: 1.25em;
}