.cart-no {
  position: absolute;
  min-height: 20px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: #21617e;
  color: white;
  text-align: center;
  right: 38px;
  top: 0px;
}

.cart-icon {
  color: #343a40;
  transition: all 0.3s;

  &:hover {
      color: #3ec4b8;
  }
}

li.nav-item a.nav-link {
  color: #666a6e;

  &.active {
    color: #3ec4b8;
  }

  &:hover {
    color: #3ec4b8;
    transition: 0.3s;
  }

  &.btn:hover {
    color: #343a40;
    transition: 0.3s;
  }
}

#logo {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
