<div class="row">
    <div class="col">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <rating [max]="max" [readonly]="isStarsReadonly" formControlName="stars"
                style="color: #EB6864;font-size: 25px;"></rating>
            <div class="mb-3">
                <textarea placeholder="write your review here!" maxlength="{{maxCommentLength}}"
                    (input)="getRemainingCommentLength()" class="form-control" formControlName="comment"
                    rows="3"></textarea>
                <small>Remaining characters: {{remainingCommentLength}}</small>
            </div>
            <button [disabled]="reviewForm.invalid" class="btn btn-primary float-right" type="submit">Submit
                review</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>What others think of this product</h3>
        <div class="my-3">
            <h5>Djebbes Zakaria <small class="float-right review-date">12/03/2020, 13:30 PM</small></h5>
            <rating [ngModel]="5" [disabled]="true" [readonly]="true"
                style="color: #EB6864;font-size: 15px;"></rating>
            <p>This product is very cool!</p>
        </div>
        <hr>
        <div class="my-3">
            <h5>Djebbes Zakaria <small class="float-right review-date">12/03/2020, 13:30 PM</small></h5>
            <rating [ngModel]="5" [disabled]="true" [readonly]="true"
                style="color: #EB6864;font-size: 15px;"></rating>
            <p>This product is very cool!</p>
        </div>
        <hr>
        <div class="my-3">
            <h5>Djebbes Zakaria <small class="float-right review-date">12/03/2020, 13:30 PM</small></h5>
            <rating [ngModel]="5" [disabled]="true" [readonly]="true"
                style="color: #EB6864;font-size: 15px;"></rating>
            <p>This product is very cool!</p>
        </div>

        <div class="d-flex justify-content-center">
            <app-pager [pageSize]="5" [totalCount]="20"></app-pager>
        </div>
    </div>
</div>